# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.db
*.sqlite3

# Django migrations
*/migrations/*
!*/migrations/__init__.py  # Keep the __init__.py file to mark the directory as a package

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Virtual environment
env/
venv/
