@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
} */

/* Remove spinner buttons for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}